<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: title]) %>
<div class="row">
  <div class="col">
    <div class="card">
      <header>
        <h4>Blog -</h4>
        <%= EEx.eval_file("./web/static/search-form.eex", []) %>
      </header>
      <div class="row">
        <div class="col-6-md col margin-bottom">
          <nav class="tabs" aria-hidden="false" aria-label="Pagination">
            <%= for page <- pages do %>
              <%= if Map.has_key?(page, :separator) do %>
                <span class="tab">…</span>
              <% else %>
                <%= if page.disabled do %>
                  <%= if Map.has_key?(page, :active) && page.active do %>
                    <span aria-label="<%= page.aria_label %>" class="tab active" aria-disabled="true"><%= page.label %></span>
                  <% else %>
                    <span aria-label="<%= page.aria_label %>" class="tab" aria-disabled="true"><%= page.label %></span>
                  <% end %>
                <% else %>
                  <a href="<%= page.link %>" aria-label="<%= page.aria_label %>" target="_self" aria-current="page"><%= page.label %></a>
                <% end %>
              <% end %>
            <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <article class="col">
        <%= content %>
      </article>
    </div>
  </div>
</div>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
