<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: title]) %>
<div class="card">
  <header>
    <h4>Blog -</h4>
    <%= EEx.eval_file("./web/static/search-form.eex", []) %>
  </header>
  <div class="row" style="font-size: smaller; font-weight: bold;">
    <div class="col-6-md text-left">
      <%= if Map.has_key?(meta, :previous) && !is_nil(meta.previous) do %>
        <a href="<%= meta.previous_link %>">« <%= meta.previous %></a>
      <% end %>
    </div> 
    <div class="col-6-md text-right">
      <%= if Map.has_key?(meta, :next) && !is_nil(meta.next) do %>
        <a href="<%= meta.next_link %>"><%= meta.next %> »</a>
      <% end %>
    </div>
  </div>
</div>
<%= for entry <- entries do %>
  <div class="card">
    <header>
      <div class="row">
        <div class="col">
          <div><em><strong><%= entry.subject %></strong></em></div>
        </div>
      </div>
      <div class="row">
        <div class="col-8-md">
          <%= for topic <- entry.topics do %>
            <div class="tag is-small entry-topic"><%= String.capitalize(topic, :default) %></div>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-8-md">
          <em><%= entry.date %></em>
        </div>
      </div>
    </header>
    <article>
      <p class="entry">
        <%= entry.entry %>
      </p>
    </article>
  </div>
<% end %>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
