<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: "The Day of the Drone"]) %>
<div class="card">
  <header>
    <h4>Drone Day -</h4>
  </header> 
  <div class="row">
    <div class="col">
      <%= content %>
    </div>
  </div>
</div>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
