      <footer class="abdomen card-group">
        <div class="card">
          <!---->
          <!---->
          <div class="card-body">
            <!---->
            <!---->
            <p class="card-text">
                <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text">
                  Along with martens, goulish goats and the rippling fen - <br />
                  <a rel="cc:attributionURL" property="dct:title" href="https://flavigula.net/#/blog/1">
                    these writings 1999-2021
                  </a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://flavigula.net">Bob Murry Shelton</a> are licensed under <a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0">
                  CC BY-NC-SA 4.0
                  <img src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" style="height: 22px !important; margin-left: 3px; vertical-align: text-bottom;" />
                  <img src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" style="height: 22px !important; margin-left: 3px; vertical-align: text-bottom;" />
                  <img src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1" style="height: 22px !important; margin-left: 3px; vertical-align: text-bottom;" />
                  <img src="https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1" style="height: 22px !important; margin-left: 3px; vertical-align: text-bottom;" />
                  </a>
                </p> 
                <small><a rel="me" href="https://sonomu.club/@flavigula">Mastodon</a></small> 
                <small><a href="https://proxy.vulpes.one/gemini/thurk.org/index.gemini">Gemini</a></small> 
                <small><a href="https://funkwhale.thurk.org">Funkwhale</a></small> 
                <small><a href="https://flavigula.bandcamp.com">Bandcamp</a></small>
            </p>
          </div>
          <!---->
          <!---->
        </div>
      </footer>
    </div>
    <script data-goatcounter="https://goatcounter.zivter.net/count" async src="//goatcounter.zivter.net/count.js"></script>
  </body>
</html>
