<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta http-equiv="Content-language" content="en">
	<meta name="author" content="Bob Murry Shelton">
    <title>Martenblog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../css/bootstrap-vue.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />
    <link rel="stylesheet" href="../../css/site.css" />
  </head>
  <body style="background: #a8a8a8;">
    <div class="hlavni container">
      <header class="jumbotron">
        <!----><!---->
        <h1>Flavigula</h1> 
        <p>Here lies Martes Flavigula, eternally beneath the splintered earth.</p> 
        <hr class="my-4"> 
        <p>
          <a href="#/blog/1" class="router-link-exact-active router-link-active" aria-current="page">blog</a> |
          <a href="#/music" class="">music</a> |
          <a href="#/poems" class="">poems</a> |
          <a href="#/lakife" class="">lakife</a> |
          <a href="#/login" class="" style="display: none;">log in</a> <a href="#" target="_self" class="">log out</a>
        </p> 
        <p text-muted="" class="sd text-muted" style="display: none;">

        </p>
      </header>
