<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: title]) %>
<style>
.vocab_invisible {
  display: none;
}
.vocab_visible {
  display: block;
}
</style>
<div class="card">
  <header>
    <h4>Lakife - Vocabulary</h4>
  </header> 
  <div class="row">
    <article class="col">
      <div class="row">
        <div class="col">
          <input type="text" id="busqueda" onkeyup="javascript:busqueda();" />
        </div>
      </div>
      <%= for entry <- vocabulary do %>
      <div class="row">
        <div class="col vocab_entry vocab_visible">
          <%= entry.lakife %> - <%= entry.english %>
        </div>
      </div>
      <% end %>
    </article>
  </div>
</div>
<script type="text/javascript">
function busqueda() {
  const inputEl = document.querySelector("#busqueda");
  const vocabEls = document.querySelectorAll(".vocab_entry");
  const trimmed = inputEl.value.trim();
  const re = new RegExp(trimmed, "i");
  vocabEls.forEach(el => {
    if(trimmed.length === 0) {
      el.classList.remove("vocab_invisible");
      el.classList.add("vocab_visible");
    } else if(el.textContent.trim().match(re)) {
      el.classList.remove("vocab_invisible");
      el.classList.add("vocab_visible");
    } else {
      el.classList.remove("vocab_visible");
      el.classList.add("vocab_invisible");
    }
  });
}
</script>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
