<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: "A Musical Mustelid"]) %>
<div class="card">
  <header>
    <h4>Lakife -</h4>
  </header> 
  <div class="row">
    <a href="vocabulary.html">Vocabulary</a>
  </div>
  <div class="row">
    <a href="phrases.html">Phrases illustrating grammar</a>
  </div>
  <div class="row">
    <a href="abbreviations.html">Often used abbreviated phrases</a>
  </div>
  <div class="row">
    <a href="idioms.html">Idioms</a>
  </div>
  <div class="row">
    <a href="babel-text.html">Babel Text</a>
  </div>
  <div class="row">
    <a href="grammar.html">Grammar</a>
  </div>
  <div class="row">
    <a href="mihupola.html">Various ideas</a>
  </div>
</div>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
