<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: title]) %>
<style>
.idiom_invisible {
  display: none;
}
.idiom_visible {
  display: block;
}
</style>
<div class="card">
  <header>
    <h4>Lakife - Idioms</h4>
  </header> 
  <div class="row">
    <article class="col">
      <div class="row">
        <div class="col">
          <input type="text" id="busqueda" onkeyup="javascript:busqueda();" />
        </div>
      </div>
      <%= for entry <- idioms do %>
      <div class="row idioms_entry idiom_visible">
        <div class="col">
          <strong><%= entry.lakife %></strong><br />
          <%= entry.english %>
          <%= if Map.has_key?(entry, :explanation) do %>
            <br /><%= entry.explanation %>
          <% end %>
        </div>
      </div>
      <% end %>
    </article>
  </div>
</div>
<script type="text/javascript">
function busqueda() {
  const inputEl = document.querySelector("#busqueda");
  const idiomsEls = document.querySelectorAll(".idioms_entry");
  const trimmed = inputEl.value.trim();
  const re = new RegExp(trimmed, "i");
  idiomsEls.forEach(el => {
    if(trimmed.length === 0) {
      el.classList.remove("idiom_invisible");
      el.classList.add("idiom_visible");
    } else if(el.textContent.trim().match(re)) {
      el.classList.remove("idiom_invisible");
      el.classList.add("idiom_visible");
    } else {
      el.classList.remove("idiom_visible");
      el.classList.add("idiom_invisible");
    }
  });
}
</script>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
