<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: title]) %>
<style>
.phrase_invisible {
  display: none;
}
.phrase_visible {
  display: block;
}
</style>
<div class="card">
  <header>
    <h4>Lakife - Phrases illustrating grammar</h4>
  </header> 
  <div class="row">
    <article class="col">
      <div class="row">
        <div class="col">
          <input type="text" id="busqueda" onkeyup="javascript:busqueda();" />
        </div>
      </div>
      <%= for entry <- phrases do %>
      <div class="row phrases_entry phrase_visible">
        <div class="col">
          <strong><%= entry.lakife %></strong><br />
          <%= entry.english %>
        </div>
      </div>
      <% end %>
    </article>
  </div>
</div>
<script type="text/javascript">
function busqueda() {
  const inputEl = document.querySelector("#busqueda");
  const phrasesEls = document.querySelectorAll(".phrases_entry");
  const trimmed = inputEl.value.trim();
  const re = new RegExp(trimmed, "i");
  phrasesEls.forEach(el => {
    if(trimmed.length === 0) {
      el.classList.remove("phrase_invisible");
      el.classList.add("phrase_visible");
    } else if(el.textContent.trim().match(re)) {
      el.classList.remove("phrase_invisible");
      el.classList.add("phrase_visible");
    } else {
      el.classList.remove("phrase_visible");
      el.classList.add("phrase_invisible");
    }
  });
}
</script>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
