<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: "A Musical Mustelid"]) %>
<div class="card">
  <header>
    <h4>Music -</h4>
  </header> 
  <div class="row">
    <div class="col-3-md">
      <a href="https://flavigula.bandcamp.com" target="_blank">
        <img src="/images/flavigula-white-logo-square.png" style="border: 1px none rgb(153, 153, 153);" width="200" height="200">
      </a> 
      <a href="https://faircamp.thurk.org/greenhouses">
        <img src="/images/greenhouses.jpg" style="border: 1px none rgb(153, 153, 153);" width="200" height="200">
      </a>
      <a href="https://submarinebroadcastingco.bandcamp.com/album/nine-sided-die" target="_blank">
        <img src="/images/nine-sided-die.jpg" style="border: 1px none rgb(153, 153, 153);" width="200" height="200">
      </a> 
      <a href="https://flavigula.bandcamp.com/album/za-frigidn-m-o-em" target="_blank">
        <img src="/images/za-frigidni-cover.jpg" style="border: 1px none rgb(153, 153, 153);" width="200" height="200">
      </a>
    </div> 
    <article class="col-9-md">
      <%= content %>
    </article>
  </div>
</div>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
