<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: title]) %>
<div class="card">
  <header>
    <h4>Poems -</h4>
  </header> 
  <div class="row">
    <header class="col-3-md text-center is-vertical-align">
      <div class="">
        <%= title %><br />
        <%= date %>
      </div>
    </header>
    <article class="col-9-md text-right pull-right">
      <%= content %>
    </article>
  </div>
</div>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
