<%= EEx.eval_file("./web/static/head-chota.eex", [meta_tags: meta_tags, title: "Cooking a Mustelid"]) %>
<div class="card">
  <header>
    <h4>Recipes -</h4>
  </header> 
  <div class="row">
    <article class="col">
      <%= content %>
    </article>
  </div>
</div>
<%= EEx.eval_file("./web/static/foot-chota.eex", []) %>
